@model PasteBin.Models.Paste

@{
    ViewData["Title"] = "Details";
}

<h4>Paste</h4>

<pre><code class="@Model.Language.Tag">@Model.Content</code></pre>


@*
<span class="label label-primary">Language: @(Model.Language?.Name ?? "None")</span>
<span class="label label-info">Created On: @Model.CreatedOn</span>
<span class="label label-info">Created By: @Model.User.UserName</span>
*@