@model PasteBin.ViewModels.Pastes.PasteViewModel

@{
    ViewData["Title"] = "View";
}

<div class="callout">
    <h4>@Model.Title</h4>
    <span class="text-warning">~@string.Format("{0:0.00}", Model.Bytes)KB <strong>@Model.Language.Name</strong></span>
    <p><time>@Model.Date</time></p>
    <hr />
    <a asp-controller="Pastes" asp-action="Embedded" asp-route-id="@Model.Id" class="btn btn-sm btn-success">
        Embedded
    </a>
</div>

<pre class="language-@Model.Language.Tag"><code>@Model.Content</code></pre>